<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/raw_data">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Raw Data
            </a>

            <a class="nav-link" href="/cleaning">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Cleaning
            </a>

            <a class="nav-link" href="/scaling">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Scaling
            </a>

            <a class="nav-link" href="/smote">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                SMOTE
            </a>

            <a class="nav-link" href="/featureImportance">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Feature Importance
            </a>

            <a class="nav-link" href="/hub_parameter">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Hubungan Parameter
            </a>

            <a class="nav-link" href="/prediksiKlasifikasi">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Predikis Klasifikasi
            </a>

            <a class="nav-link" href="/performa">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Performa
            </a>
            
            <a class="nav-link" href="/Uji_coba">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Uji Coba
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>